/*-----------------------------------Reset------------------------------------------*/
*{
font-family: 'Josefin Sans', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{
    font-size: 1.4rem;
    font-weight: 800;
}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
}
h6{
    color: #d8d8d8;
}
button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}
button:hover{
    background-color: #3a3833;
}
hr{
    width: 30px;
    height: 2px;
    background-color: #ff0000;
}
/*-----------------------------Estrelas "Rating"------------------------------------*/
.star {
    padding: 10px 0;
}
.star i{
    font-size: 0.8rem;
    color: gold;
}
/*-----------------------------------Navbar-----------------------------------------*/
.navbar{
    font-size: 16px; 
    top:0 ;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active{
    color: #ff0000;
}
.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor: pointer;
    font-weight: 500px;
    transition: 0.3s ease;
}
.navbar i:hover{
    color: #ff0000;
}
#logolph{
    filter:grayscale(100%);
    cursor:pointer;
    transition: 0.3s ease;
}
#logolph:hover{
    filter:grayscale(0%);
}
/*-----------------------------------Mobile Nav-------------------------------------*/
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}
#bar{
    font-size: 1.5rem;
    padding: 7px;
    cursor: pointer;
    transition: 0.3s ease;
    color: black;
}
#bar:hover{
    color: #fff;
}
@media only screen and (max-width: 9991px){
    body > nav > div > button:hover,
    body > nav > div > button:focus{
        background-color: #ff0000;
    }
    body > nav > div > button:hover #bar,
    body > nav > div > button:focus #bar{
        color: #FFF;
    }
    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 20px;
    } 
}
/*--------------------------------------Home----------------------------------------*/
#home{
    background-image:url(../img/reddead.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home span{
    color: white;
}
/*---------------------------Seleção de página de compra 1---------------------------*/
#new .details h2{
    color: #fff;
    text-shadow: 10px 10px 20px #000000;
}
#new .one img{
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    border: 3px solid;
}
#new .one .details{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.3s ease;
}
#new .one:hover .details{
    cursor:pointer;
    background-color: rgba(255, 0, 0, 0.7);
    border: 3px solid;
}
#new .one .details button{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #2a2a2a;
    background: none;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2a2a;
    padding: 2.5px;
    transform: translateY(70px);
    transition: 0.3s ease;
}
#new .one .details button:hover{
    color: #fff; 
    border-bottom: 1px solid #fff;
}
#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}
/*-------------------------------------Produtos------------------------------------*/
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
.product img{
    transition: 0.3s all;
}
.product:hover img{
    opacity: 0.7;
}
.product .buy-btn{
    background: #ff0000;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}
.product:hover .buy-btn{
    transform: translateY(0);
    opacity: 1;
}
/*----------------------------------Banner------------------------------------------*/
#banner{
    background-image:url(../img/scorpion.jpg);
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: top 70px center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#banner h4{
    color: #fff;
}
#banner h1{
    color: #fff;
}
#banner button{
    color: gold;
}
/*------------------------------------Reviews---------------------------------------*/
.testimonial{
    padding-top: 100PX;
    cursor: pointer;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    transition: transform 0.5s;
}
.testimonial .col-3:hover{
    transform:translateY(-10px);
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    border: 2px solid #222222;
}
/*--------------------------------------Marcas--------------------------------------*/
#brand img{
    cursor: pointer;
    filter:grayscale(100%)
}
#brand img:hover{
    filter:grayscale(0%)
}
/*----------------------------------Footer-----------------------------------------*/
.footer{
    background-color: #222222;
}
.footer h5{
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}
.footer li{
    padding-bottom: 4px;
}
.footer li a{
    font-size: 0.8rem;
    color: #999;
}
.footer li a:hover{
    font-size: 0.8rem;
    color: #d8d8d8;
}
.footer p{
    color: #fff;
    font-size: 0.8rem;
}
.footer .copyright a{
    color: #000;
    width: 30px;
    height: 32px;
    background-color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    transition: 0.3s ease;
    margin: 0 5px;
}
.footer .copyright a:hover{
    color: #fff;
    background-color: #ff0000;
}
/*-----------------------------------rodape----------------------------------------*/
#tra{
    margin-left: 330%;
}
#tra2{
    margin-left: 150%;
}
.rodape{
    width: 100%;
    float: left;
    background-image: linear-gradient(to right, #ff0000, #9c0606);
    padding: 20px 0 0 20px;
}
.rodape p{
    color: #fff;
}
/*-------------------------Página Todos os Produtos---------------------------------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
select{
    border: 1px solid #ff0000;
    padding: 5px;

}
select:focus{
    outline:none;
}
.page-bnt{
    margin: 0 auto 8px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff0000;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff0000;
    color: #fff;
}
/*--------------------------Informaçoes dos produtos--------------------------------*/
.small-img-group{
    display: flex;;
}
.small-img-col{
    flex-basis: 26%;
    cursor: pointer;
    margin-top: 20px;
}
.produtou select{
    display: block;
    padding: 5px 1px;
}
.produtou input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.produtou input:focus{
    outline: none;
}
.buy-button{
    background-color: #ff0000;
    opacity: 1;
    transition: 0.3s all;
    border-radius: 10px;
}